.aw-ui-radio-label {
  position: relative;
  display: block;
  margin: 0;
  padding-left: 28px;
  color: var(--grey-900);
  font: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.aw-ui-radio-input + label::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--main);
  border-radius: 4px;
  border-radius: 50%;
  transition: background-color 0.3s, border 0.3s;
  content: "";
}

.aw-ui-radio-input:hover + label::before {
  border: 1px solid var(--hover);
}

.aw-ui-radio-input:active + label::before {
  border: 1px solid var(--pressed);
}

.aw-ui-radio-input:focus-visible + label::before {
  outline: 2px solid var(--focused);
}

.aw-ui-radio-input + label::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--main);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s;
  content: "";
}

.aw-ui-radio-input:checked + label::after {
  transform: scale(1);
}

.aw-ui-radio-input:checked:hover + label::after {
  background-color: var(--hover);
}

.aw-ui-radio-input:checked:active + label::after {
  background-color: var(--pressed);
}

.aw-ui-radio-input:disabled + label {
  color: var(--grey-600);
  cursor: not-allowed;
}

.aw-ui-radio-input:disabled + label::before {
  background-color: var(--grey-300);
  border-color: var(--grey-400);
}

.aw-ui-radio-input:checked:disabled + label::before {
  background-color: var(--grey-400);
}
