@import "../../assets/styles/mixins.scss";

.aw-ui-switch {
  display: flex;
  align-items: center;
  color: var(--grey-900);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.aw-ui-switch-normal {
  font-size: 14px;
  line-height: 18px;
}

.aw-ui-switch-small {
  font-size: 12px;
  line-height: 16px;
}

.aw-ui-switch span {
  margin-left: 8px;
}

.aw-ui-switch-btn {
  position: relative;
  background-color: var(--grey-400);
  border: 1px solid var(--grey-400);
  border-radius: 16px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s;

  &::before {
    position: absolute;
    display: block;
    background-color: var(--grey-100);
    border-radius: 50%;
    transition: left 0.3s;
    content: "";
  }

  &:hover:not(:disabled) {
    border-color: var(--main);
  }

  @include focus-visible {
    box-shadow: 0 0 0 3px var(--focused);
  }

  &:disabled {
    background-color: var(--grey-400);

    &::before {
      background-color: var(--grey-300);
    }
  }
}

.aw-ui-switch-normal .aw-ui-switch-btn {
  width: 40px;
  height: 23px;

  &::before {
    top: 2px;
    left: 2px;
    width: 17px;
    height: 17px;
  }
}

.aw-ui-switch-small .aw-ui-switch-btn {
  width: 36px;
  height: 20px;

  &::before {
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
  }
}

.aw-ui-switch-btn-on {
  background-color: var(--main);
  border-color: var(--main);

  &:hover {
    background-color: var(--hover);
  }

  &:disabled {
    background-color: var(--grey-400);
    border-color: var(--grey-400);

    &::before {
      background-color: var(--grey-300);
    }
  }
}

.aw-ui-switch-normal .aw-ui-switch-btn-on {
  &::before {
    left: calc(100% - 17px - 2px);
  }
}

.aw-ui-switch-small .aw-ui-switch-btn-on {
  &::before {
    left: calc(100% - 14px - 2px);
  }
}
