.aw-ui-card {
  width: 100%;
  color: var(--grey-700);
  background-color: var(--grey-300);
}

.aw-ui-card-content {
  padding: 15px;
}

.aw-ui-card h3 {
  color: var(--grey-900);
}

.aw-ui-card img {
  display: block;
  width: 100%;
  max-height: 450px;
}

.aw-ui-card p {
  font-size: 14px;
  line-height: 20px;
}
