.aw-ui-checkbox-label {
  position: relative;
  display: block;
  margin: 0;
  font: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--grey-900);
  padding-left: 28px;
  cursor: pointer;
}

.aw-ui-checkbox-input + label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--main);
  border-radius: 4px;
  transition: background-color 0.3s, border 0.3s;
}

.aw-ui-checkbox-input:hover + label::before {
  border: 1px solid var(--hover);
}

.aw-ui-checkbox-input:active + label::before {
  border: 1px solid var(--pressed);
}

.aw-ui-checkbox-input:focus-visible + label::before {
  outline: 2px solid var(--focused);
}

.aw-ui-checkbox-input:checked + label::before {
  background-color: var(--main);
}

.aw-ui-checkbox-input:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.aw-ui-checkbox-input-classic:checked + label::after {
  background-image: url("../../assets/images/mark.svg");
  background-size: 12px 9px;
}

.aw-ui-checkbox-input-modern:checked + label::after {
  background-image: url("../../assets/images/square.svg");
  background-size: contain;
}

.aw-ui-checkbox-input:disabled + label {
  color: var(--grey-600);
  cursor: not-allowed;
}

.aw-ui-checkbox-input:disabled + label::before {
  background-color: var(--grey-300);
  border-color: var(--grey-400);
}

.aw-ui-checkbox-input:checked:disabled + label::before {
  background-color: var(--grey-400);
}
