@import '../../assets/styles/mixins.scss';

.aw-ui-tab {
  display: inline-block;
  margin: 0;
  padding: 12px 16px;
  color: var(--grey-900);
  font: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  background-color: var(--grey-100);
  border: none;
  cursor: pointer;

  &:hover {
    color: var(--primary-hover);
    background-color: var(--primary-background);
  }

  @include focus-visible {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0 3px var(--primary-background);
  }

  &:active {
    color: var(--primary-pressed);
  }

  &:disabled {
    color: var(--grey-600);
    background-color: var(--grey-300);
  }
}

.aw-ui-tab-active {
  box-shadow: inset 0px -4px 0px var(--primary-main);

  &:hover {
    box-shadow: inset 0px -4px 0px var(--primary-hover);
  }

  @include focus-visible {
    box-shadow: none;
  }

  &:active {
    box-shadow: inset 0px -4px 0px var(--primary-pressed);
  }

  &:disabled {
    box-shadow: inset 0px -4px 0px var(--grey-600);
  }
}
