.aw-ui-accordion button {
  position: relative;
  margin: 0;
  width: 100%;
  font: inherit;
  text-shadow: none;
  display: block;
  background-color: var(--grey-200);
  border: 3px solid transparent;
  cursor: pointer;
  outline: none;
  padding: 10px 16px;
  padding-right: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--grey-900);
  text-align: left;
  transition: background-color 0.5s;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-image: url("../../assets/images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    background-color: var(--grey-300);
  }

  &:focus-visible {
    border-color: var(--grey-300);
  }
}

.aw-ui-accordion-show button {
  background-color: var(--grey-300);

  &::before {
    transform: rotate(-180deg);
  }

  &:focus-visible {
    border-color: var(--grey-400);
  }
}

.aw-ui-accordion div {
  display: none;
  color: var(--grey-700);
  padding: 10px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  background-color: var(--grey-200);
}

.aw-ui-accordion-show div {
  display: block;
}
