@import "../../assets/styles/mixins.scss";

.aw-ui-accordion button {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 16px;
  padding-right: 44px;
  color: var(--grey-900);
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  text-shadow: none;
  background-color: var(--grey-300);
  border: 3px solid transparent;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s;

  &::before {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../../assets/images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }

  &:hover {
    background-color: var(--grey-400);
  }

  @include focus-visible {
    border-color: var(--grey-400);
  }
}

.aw-ui-accordion-show button {
  background-color: var(--grey-400);

  &::before {
    transform: rotate(-180deg);
  }

  @include focus-visible {
    border-color: var(--grey-300);
  }
}

.aw-ui-accordion div {
  display: none;
  padding: 10px 16px;
  color: var(--grey-700);
  background-color: var(--grey-200);
}

.aw-ui-accordion-show div {
  display: block;
}
