@import "../../assets/styles/mixins.scss";

.aw-ui-link {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  font: inherit;
  font-weight: 400;
  text-shadow: none;
  column-gap: 5px;
  outline: none;
  transition: 0.5s all;

  &.aw-ui-link-disabled {
    color: var(--grey-500);

    &:hover {
      color: var(--grey-500);
    }

    @include focus-visible {
      color: var(--grey-500);
    }

    &:active {
      color: var(--grey-500);
    }
  }
}

.aw-ui-link-normal {
  font-size: 14px;
  line-height: 20px;
}

.aw-ui-link-big {
  font-size: 16px;
  line-height: 24px;
}

.aw-ui-link-main,
.aw-ui-link-secondary,
.aw-ui-link-outline {
  min-width: 36px;
  padding: 8px 14px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;

  &.aw-ui-link-disabled {
    background-color: var(--grey-300);
    border: 1px solid transparent;

    &:hover {
      background-color: var(--grey-300);
      border: 1px solid transparent;
    }

    @include focus-visible {
      background-color: var(--grey-300);
      border: 1px solid transparent;
    }

    &:active {
      background-color: var(--grey-300);
      border: 1px solid transparent;
    }
  }
}

.aw-ui-link-main {
  color: var(--background);
  background-color: var(--main);

  &:hover {
    background-color: var(--hover);
  }

  @include focus-visible {
    box-shadow: 0 0 0 3px var(--focused);
  }

  &:active {
    background-color: var(--pressed);
  }
}

.aw-ui-link-secondary {
  color: var(--main);
  background-color: var(--background);

  &:hover {
    color: var(--hover);
  }

  @include focus-visible {
    box-shadow: 0 0 0 3px var(--focused);
  }

  &:active {
    color: var(--pressed);
  }
}

.aw-ui-link-outline {
  color: var(--main);
  background-color: var(--background);
  border-color: var(--main);

  &:hover {
    color: var(--hover);
    border-color: var(--hover);
  }

  @include focus-visible {
    border-color: transparent;
    box-shadow: 0 0 0 3px var(--focused);
  }

  &:active {
    color: var(--pressed);
    border-color: var(--hover);
  }
}

.aw-ui-link-text {
  color: var(--main);
  text-decoration: underline;
  transition: none;

  &:hover {
    color: var(--hover);
    text-decoration: none;
  }

  @include focus-visible {
    text-decoration: none;
    outline: 3px solid var(--focused);
    outline-offset: 3px;
  }

  &:active {
    color: var(--pressed);
    text-decoration: none;
  }
}
